[Desktop Entry]
Version=1.0
Name=JNordVPN Manager
GenericName=JNordVpnManager
Comment=Java Application Manager GUI for Nord VPN backend
Exec=/snap/j-nordvpn-manager/current/bin/java -jar /snap/j-nordvpn-manager/current/JNordVpnManager-current.jar
Icon=/snap/j-nordvpn-manager/current/meta/gui/icon.svg
Terminal=false
Type=Application
Categories=Utility;Application;
