[Desktop Entry]
Version=1.0
Name=JNordVPN Manager
GenericName=JNordVpnManager
Comment=Java Application Manager GUI for Nord VPN backend
Exec=$SNAP/JNordVPNManager-wrapper
Icon=${SNAP}/meta/gui/JNordVPNManager.Starter.svg
Terminal=false
Type=Application
Categories=Utility;Application;
#xprop WM_CLASS
StartupWMClass=com-mr-apps-JNordVpnManager-Starter
